.footer {
	height: auto;
	padding-top: 118px;
	font-family: $main-font-family;
	background-image: url(../../img/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	&__text {
		margin-top: 0;
		margin-bottom: 74px;
		font-family: $title-font-famyly;
		color: $white-color;
		text-align: center;
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		text-transform: uppercase;
	}
	&__line {
		@include hr-line();
		margin-bottom: 70px;
	}
	&__social {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin-top: 0;
		margin-bottom: 70px;
		list-style: none;
	}
	&__item {
		margin-right: 30px;
	}
	&__item:last-child {
		margin-right: 0;
	}
}

//*Item*//

.footer__item i {
	font-size: 24px;
	color: $white-color;
	transition: all .3s ease;
}

.footer__item i:hover {
	color: aqua;
	font-size: 30px;
	border: 1px solid aqua;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
	text-shadow: 1px 1px 2px #427388;
}

//*Forms*//

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	&__box {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 120px;
	}
	&__text {
		width: 302px;
		margin-top: 0;
	}
	&__input {
		width: 100%;
		background: transparent;
		border: none;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: $white-color;
		color: #676767;
		font-size: 18px;
		font-weight: 400;
		font-style: italic;
		line-height: 40px;
	}
	&__input:focus {
		color: aqua;
		font-size: 20px;
		border: 1px solid aqua;
		box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
		outline-color: rgba(255, 255, 255, 0);
		outline-offset: 15px;
		text-shadow: 1px 1px 2px #427388;
	}
	&__btn {
		width: 183px;
		margin-bottom: 100px;
		color: $white-color;
		font-size: 24px;
		font-weight: 400;
		line-height: 60px;
		text-transform: uppercase;
		background: transparent;
		transition: all .3s ease;
	}
	&__btn:hover {
		cursor: pointer;
		color: aqua;
		font-size: 30px;
		border: 1px solid aqua;
		box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
		outline-color: rgba(255, 255, 255, 0);
		outline-offset: 15px;
		text-shadow: 1px 1px 2px #427388;
	}
}

.form__text--right {
	margin-right: 63px;
}

.form__text--width {
	width: 667px;
	margin-bottom: 80px;
}
